html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}




/* ========================================
        SOCIAL TAGS 
======================================== */


#social-section .page-section-content,
#socialtag-section .page-section-content {
    .callout .callout-image,
    .callout .callout-image img {
        clip-path: none !important;
    }
}




/* ========================================
        HEADER 
======================================== */

#header-section {
    padding-bottom: 0;
}

.hero {
    margin-bottom: 0;

    .hero-content {
        background: rgba(255, 255, 255, 0.5);
    }
}

/* ========================================
        MENU 
======================================== */

.menu-item {
	height: 40px;
}

.menu-item a {
    background-color: var(--primary-color);
    color: contrast-color(var(--primary-color)) !important;
}

.menu-item a:hover {
    background-color: var(--secondary-color);
    color: contrast-color(var(--secondary-color)) !important;
}

.menu-item a.selected {
    background-color: var(--tertiary-color);
    color: contrast-color(var(--tertiary-color)) !important;
}



/* ========================================
        FOOTER 
======================================== */

#business-footer {
    padding: 0px !important;

    .page-section-content {
        padding: 20px !important;
    }

}


/* ========================================
        CALLOUTS 
======================================== */

.callout {
    border: 10px solid var(--secondary-color) !important;
    background-color: var(--accent3-color) !important;
}
.callout .callout-button button:hover {
    color: var(--secondary-color) !important;
}
body.buttonring {
    button:hover, .button:hover, .centered-button:hover {
        color: var(--secondary-color) !important;
        outline-color: var(--secondary-color) !important;
    }
}
body.formglow {
    form input:hover, select:hover, textarea:hover {
        outline: 5px solid rgba(139, 58, 43, 0.2) !important;
    }
}
input.invalid, textarea.invalid, select.invalid, .tag-container.invalid {
    border: 1px solid var(--secondary-color) !important;
    box-shadow: 0 0 5px 2px rgba(139, 58, 43, 0.45);
}
body.formglow {
    form button:hover, input:focus, input:focus:hover, select:focus, select:focus:hover, textarea:focus, textarea:focus:hover {
        outline: 5px solid rgba(139, 58, 43, 1) !important;
    }
}

.callout ol, .callout ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;

    li {
        display: list-item;
    }
}

/* ========================================
        SERVICE AREAS 
======================================== */

.service-areas-list { 

    .callout {
        border-radius: 0 !important;
    }

}

/* ========================================
        HOME PAGES 
======================================== */

#home-services-section {
    .callout .callout-image {
        width: 100%;
        clip-path: none !important;
    }
    .callout .callout-image img {
        clip-path: none !important;
    }
}


#home-blog-section .blog-post-summary {
    border-radius: 0px;
    border: 10px solid var(--secondary-color) !important;
    background-color: var(--accent3-color) !important;
}



/* ========================================
        ABOUT PAGES 
======================================== */

#history-cards-section .callout .callout-image {
    width: 100%;
}
