.contentful-reviews-card {
	
    padding: 30px 0;
	
    .carousel-container {
        height: 400px;
		background-color: #EEE;
    	border-radius: 20px;
    }
    .carousel-cards-container {
        width: 60%;
        height: 350px;
        margin: 0 auto;
    }
	.carousel-card-wrapper {
		display: flex;
		align-items: center;
		justify-items: center;
	}
    .carousel-card-body {
        text-align: center;
        padding-top: 40px;
    }
    @media screen and (max-width: 480px) {
        .carousel-cards-container {
            width: 90%;
        }
    }
    .carousel-card-header {
        font-size: 1.2em;
    }
    
}