html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }
#root { min-height:100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
}

section.page-section#navigation-section{
  padding: 10px 0;
}

#home-services-section .callout .callout-subtitle h3 {
  font-size: var(--font-size4);
}

#services-list-section .callout img {
  aspect-ratio: 1 / 1;
}

#team-section .callout img {
  object-position: center;
  opacity: 0.9;
}

#services-pricing-section ul li,
#packages-pricing-section ul li {
  display: list-item !important;
  list-style-type: disc !important;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.callout img {
  opacity: 0.7;
}

button:hover, .button:hover, .centered-button:hover,
.callout .callout-button button:hover,
form button:hover,
body.formglow form button:hover,
body.buttonring button:hover,
body.buttonring .button:hover,
body.buttonring .centered-button:hover {
  color: var(--primary-color) !important;
  outline-color: var(--primary-color) !important;
  outline-offset: 3px !important;
  outline-width: 5px !important;
  border: 1px solid var(--primary-color) !important;
}

body.formglow {
    form input:hover, select:hover, textarea:hover {
        outline: 5px solid rgba(174, 140, 69, 0.2) !important;
        outline-offset: 3px;
    }
}

body.formglow {
    form button:hover, input:focus, input:focus:hover, select:focus, select:focus:hover, textarea:focus, textarea:focus:hover {
        outline: 5px solid var(--primary-color) !important;
    }
}

/* ===== FAQS STYLES ===== */

#faqs-section {
  .faq-container {
    background-color: transparent;
    .faq-list {
      .accordion-content {
        background-color: transparent;
      }
      details, summary {
        background-color: transparent;
      }
    }
  }
}
