html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }
#root { min-height:100vh; }


#services-list-section .callout img {
  aspect-ratio: 1 / 1;
}


section.page-section#navigation-section{
  padding: 10px 0;
}