:root {
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 30px;
    line-height: 1.1;
}

h1 { font-weight: 900; }
h2 { font-weight: 800; }
h3 { font-weight: 700; }

p {
  margin: 0px;
  padding: 0 0 20px 0;
}

p:has(+ ul),
p:has(+ ol) {
  padding: 0px;
}

p + ul,
p + ol {
  padding: 0 0 20px 20px;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
  list-style-type: disc;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
}

div .color-palette {
    gap: 0px;
}

div .color-palette-item {
    text-align: center;
    min-height: 50px;
    place-items: center;
    color: #999
}

#selection-section .page-section-content {
    justify-items: center !important;
}
#title-section {
    text-align: center;
}

@media print {
    .sidepanel-portal-root, 
    .sidepanel,
    .sidepanel-fixed-tab {
        display: none;
        visibility: hidden;
    }
}

.signature {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Seaweed Script', cursive;
    font-size: var(--font-size1);
}

.signature-date {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Seaweed Script', cursive;
}

