html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }
#root { min-height:100vh; }


/* ========================================
    HEADER
======================================== */

header #header-section {
    padding: 20px;
    .page-section-content {
        display: flex;
    }
    img {
        margin: 0 auto;
    }
}

header .menu-wrapper {
    margin: auto 10px;
}

@media (max-width: 767px) {
    header #header-section {
        .page-section-content {
            flex-direction: column;
        }
    }
}




/* ========================================
    MENU
======================================== */

.menu-wrapper {
    margin: 5px 0;
}
.menu {
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
.menu-item a {
    background-color: transparent;
    color: contrast-color(var(--bg-color));
}
.menu-item:not(:first-child) {
    border-left: none;
}
.menu-item a:hover {
    background-color: var(--secondary-color);
    color: contrast-color(var(--secondary-color));
}
.menu-item a.selected {
    background-color: var(--primary-color);
    color: contrast-color(var(--primary-color));
}





/* ========================================
    HERO
======================================== */

.hero {
    height: 50vh !important;
}

@media (max-width: 767px) {
    .hero {
        height: 30vh !important;
    }
    .hero img {
        min-height: 70vh !important;
        object-position: 50% 0% !important;
    }
}


/* ========================================
    FOOTER MENU
======================================== */

footer section:has(.footer-menu) {
    & .footer-menu {
        .footer-menu-item a:hover {
            background-color: var(--tertiary-color) !important;
            color: contrast-color(var(--tertiary-color)) !important;
        }
    }
}

footer section:has(.footer-menu) {
    & .footer-menu {
        .footer-menu-item a.selected {
            background-color: var(--secondary-color) !important;
            color: contrast-color(var(--secondary-color)) !important;
        }
    }
}




/* ========================================
    SOCIAL TAGS
======================================== */

footer #socialtag-section .page-section-content {
    max-width: 768px !important;
}



/* ========================================
    CALLOUTS
======================================== */

main .callout,
footer .callout {
    border: 4px solid var(--secondary-color) !important;
    padding: 5px !important;

    .callout-image {
        border: 6px solid var(--primary-color);
        width: 100% !important; /* for mobile */
        clip-path: none !important;
    }

    .callout-image img {
        clip-path: none !important;
    }

}






/* ========================================
        SERVICES / SERVICE AREAS
======================================== */

#service-detail-wrapper { 

    .page-section-content {
        max-width: 100% !important;
        width: 100%;
    }

    .service-detail-copy {
        max-width: 1024px;;
        width: 100%;
        margin: 0 auto;
    }
}

#services-callouts section {
    background-color: transparent;
}

.service-areas-list .callout {
    border-radius: 0px !important;
}






/* ========================================
        CUSTOM OVERRIDES
======================================== */

#service-areas-callout-section .callout-button,
#contact-us-callout-section .callout-button {
    display: none;
}

#recent-blog-section .blog-post-summary {
    border: 4px solid var(--secondary-color);
    border-radius: 0px;
}